/* LAYOUT */
header{
    display: flex;
    position: relative;
    margin: auto;
    width: 90vw;
    height: 15vh;
    justify-content: space-between;
    align-items: center;
    /* background: red; */
}

/* LOGO */
.logo{
    display: flex;
    position: relative;
    width: 20%;
    height: 80%;
    justify-content: flex-start;
    align-items: center;
    /* background: red; */
}
.logo a{
    display: inline-block;
    position: relative;
    /* width: 100%; */
    /* height: 100%; */
    /* background: yellow; */
}
.logo img{
	display: block;
    width: 215px;
    height: 70px;
    /* background: green; */
}

/* NAV */
.nav{
    display: flex;
    position: relative;
    width: 30%;
    height: 100%;
    justify-content: flex-end;
    align-items: center;
    /* background: red; */
}
.nav ul{
    display: flex;
    position: relative;
	width: 100%;
	justify-content: space-between;
    /* background: red; */
}
.nav a{
    display: block;
    font-size: 2.5em;
    transition: all .5s ease;
}
.nav a:hover{
    transform: scale(1.1);
    color: #42CFC7;
}