/* LAYOUT */
.info{
    display: block;
    position: relative;
    margin: auto;
    width: 90vw;
    height: 85vh;
    /* background: red; */
}
.info h1{
    padding-top: 3%;
	font-size: 3.5em;
}
.info__border{
    margin: 2% 0 2% 0;
    width: 8vw;
    height: 1px;
    background: #42CFC7;;
}
.info p{
    width: 80%;
    font-size: 2.5em;
    line-height: 2em;
    color: #646464;
}
.info p a{
    text-decoration: underline;
    color: #646464;
}

/* PORTFOLIO */
.info__portfolio{
    padding-top: 3%;
    /* background: red; */
}
.info__portfolio h2{
 	font-size: 3.2em;
}
.info__portfolio a{
    display: inline-block;
    position: relative;
    margin-top: 3%;
    font-size: 3em;
    font-weight: 600;
    /* background: red; */
    transition: all .5s ease;
}
.info__portfolio a:hover{
    transform: scale(1.2);
    color: #42CFC7;
}