@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .catalog{
        padding-top: 10%;
    }
    .catalog__bg-title{
        display: none;
    }
    .catalog__title{
        font-size: 40px;
        line-height: 43px;
    }
    .border{
        height: 2px;
    }
    .catalog__card_title{
        height: 70%;
    }
    .catalog__card{
        width: 45%;
        height: 450px;
    }
}