@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .home{
        background: url(../../img/media/bg_home-tablet.jpg) center no-repeat;
        background-size: cover;
    }
    .home__header{
        padding-top: 5%;
    }
    .nav__toggle p{
        display: none;
    }
    .home__title{
        font-size: 70px;
        line-height: 80px;
        margin: 25% auto 0 auto;
        width: 90%;
    }
    .home .btn-transparent{
        margin: 20% auto 0 auto;
    }
    .home__mouse-link{        
        display: none;
    }
    .home__text-link{
        display: none;
    }
    .home__arrow-link{
        display: block;
        position: relative;
        margin: 10% auto 0 auto;
        background: url(../../img/arrow.png) center no-repeat;
        background-size: cover;
        width: 30px;
        height: 40px;
    }
    .gradient{
        display: none;
    }
}