@media only screen and (min-width: 738px) and (max-width: 1024px) {
    .home__links{
        height: auto;
        margin-top: 20%;
        padding-bottom: 10%;
    }
    .home__soc-links{
        display: flex;
        position: relative;
        width: 70%;
        justify-content: space-evenly;
        margin: 10px auto 0 auto;
    }
    .soc-link{
        width: 54px;
        height: 54px;
        background-size: cover;
        display: block;
        margin: 5px 0;
    }
    .nav__soc-links{
        display: none;
    }
    .footer__soc-links{
        margin: 2% auto 0 auto;
        width: 40%;
    }
    .fb{
        background: url(../../img/icon-media/fb.png) center no-repeat;
    }
    .inst{
        background: url(../../img/icon-media/inst.png) center no-repeat;
    }
    .wp{
        background: url(../../img/icon-media/wp.png) center no-repeat;
    }
    .vk{
        background: url(../../img/icon-media/vk.png) center no-repeat;
    }
}