@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .nav__toggle p {
        display: none;
    }

    main {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        height: auto;
    }

    .image {
        width: 100%;
        height: 50vh;
        margin-top: 8vh;
    }

    .image::after {
        display: none;
    }

    .info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        width: 100%;
    }

    .info-tablet-mob {
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
        width: 90%;
        margin: auto;
    }

    .info__tabs {
        width: 90vw;
        height: 123px;
        margin: auto;
        margin: 5% auto 5% auto;
    }

    .info__title {
        width: 100%;
        margin: auto;
    }

    .info__description {
        margin: 3vh auto;
        width: 100%;
    }

    .info button {
        margin: 0;
    }

    .info__soc-link {
        display: none;
    }

    #footer {
        display: block;
        padding-top: 7vh;
    }

    .footer>nav ul {
        display: block;
        text-align: center;
    }

    .footer>nav li {
        margin-top: 2%;
    }

    .footer>nav a {
        font-size: 20px;
    }
}