@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .catalog__stock {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
        flex-direction: column-reverse;
    }

    .catalog__stock img {
        width: 80%;
    }

    .catalog__stock_info {
        padding-top: 5%;
        width: 80%;
        text-align: center;
    }

    .catalog__info_title {
        max-width: 100%;
        font-size: 33px;
    }

    .catalog__stock_info .border {
        margin: 3% auto 8% auto;
    }

    .catalog__info_description {
        max-width: 100%;
    }

    .catalog__stock_info button {
        margin: 8% auto 0 auto;
    }
}