/* CATEGORY LAYOUT */
html {
    height: 100%;
}

body {
    height: 100%;
}

header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 3%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* HEADER */
/* LOGO */
.logo>div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.logo img {
    margin: 0 10px;
    width: 22.68px;
    height: 18.82px;
}

.logo>div::before {
    content: "";
    width: 45px;
    border: 1px solid #FFFFFF;
}

.logo>div::after {
    content: "";
    width: 45px;
    border: 1px solid #FFFFFF;
}

.logo p {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.06em;
    margin-top: 6.18px;
}

/* NAV */
nav a {
    text-transform: uppercase;
}

nav>a::before {
    content: '';
    display: inline-block;
    width: 23px;
    height: 6px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    margin-right: 15px;
}

/* CONTENT */
main {
    height: 100%;
    width: 100%;
    background: #3B181E;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1 1;
    flex: 1 1;
}

/* BORDER */

.image::after {
    content: '';
    display: block;
    position: absolute;
    top: 2.5%;
    left: 2.5%;
    width: 50%;
    height: 95%;
    border: 1px solid rgba(255, 255, 255, 0.2);
}

/* INFO */
.info {
    width: 50%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.info__title {
    width: 80%;
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.09em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 13% 0 0 10%;
}

.info__description {
    margin: 5% 0 0 10%;
    width: 70%;
    font-size: 13px;
    line-height: 150%;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.info button {
    margin: 5% 0 0 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 135px;
    height: 50px;
    border: 1px solid #FFFFFF;
    font-size: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    background: rgba(0, 0, 0, 0);
    color: #FFFFFF;
    cursor: pointer;
}

.info button:hover {
    background: #FFFFFF;
    color: #010001;
}

.info__tabs {
    position: relative;
    margin: 5% 2% 0 10%;
    height: 123px;
    width: calc((123px * 4) + 30px);
}

.info__tabs_arr-l,
.info__tabs_arr-r {
    content: '';
    position: absolute;
    display: block;
    background-image: url(../img/categories_arr.png);
    width: 46px;
    height: 46px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
}

.info__tabs_arr-l {
    left: -23px;
    -webkit-transform: translateY(-50%) scale(-1, 1);
    -ms-transform: translateY(-50%) scale(-1, 1);
    transform: translateY(-50%) scale(-1, 1);
    display: none;
}

.info__tabs_arr-r {
    right: -23px;
}

.info__tabs_wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.info__tabs_slider {
    width: 500%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    left: 0;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}

.info__tab {
    width: 123px;
    height: 123px;
    cursor: pointer;
    margin-right: 10px;
}

.info__tab:last-child {
    margin-right: none;
}

.info__tab:hover {
    -webkit-transform: scale(.9);
    -ms-transform: scale(.9);
    transform: scale(.9);
}

/* SOC LINK */
.info__soc-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    right: 0;
    bottom: 3%;
    margin: 5% 5% 0 9%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
}

.info__soc-link p {
    font-size: 15px;
    line-height: 150%;
    color: #FFFFFF;
}

.info__soc-link a {
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-left: 20px;
}

/* FOOTER */
#footer {
    display: none;
}

@media only screen and (min-width: 1440px) {
    .info__title {
        font-size: 40px;
    }

    .info__description {
        font-size: 30px;
    }

    .info button {
        width: 250px;
        height: 100px;
        font-size: 30px;
    }
    .info__tabs {
        position: relative;
        margin: 5% 2% 0 10%;
        height: 123px;
        width: calc((123px * 4) + 30px);
    }
}