@media only screen and (max-width: 767px) {
    .catalog{
        padding-top: 20%;
    }
    .catalog__bg-title{
        display: none;
    }
    .catalog__title{
        font-size: 7vw;
        line-height: 43px;
        text-align: left;
    }
    .border{
        display: none;
    }
    .catalog__card_title {
        height: 70%;
    }
    .catalog__card {
        width: 98%;
        height: 450px;
    }
}