@media only screen and (max-width: 767px) {
    .footer> nav ul{
        display: block;
        text-align: center;
    }
    .footer> nav li{
        margin-top: 2%;
    }
    .footer> nav a{
        font-size: 20px;
    }
}