@media only screen and (max-width: 767px) {
    .catalog__categories{
        display: none;
    }
    .swiper-tab {
        display: none;
    }
    .swiper-mob {
        display: block;
    }
    .swiper-container {
        width: 90vw;
        height: 500px;
        margin-top: 15px;
    }
    .swiper-slide {
        display: block;
    }
    .swiper-pagination-bullet {
        width: 18vw;
        height: 3px;
        display: inline-block;
        border-radius: 50px;
        background: #fff;
        opacity: 0.3;
    }
    .swiper-pagination-bullet-active {
        opacity: 1;
        background: #fff;
    }
}
