@media only screen and (max-width: 767px) {
    .home__links {
        height: auto;
        margin-top: 20%;
        padding-bottom: 10%;
    }

    .home__soc-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        width: 100%;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        margin: 10px auto 0 auto;
    }

    .soc-link {
        width: 15vw;
        height: 15vw;
        display: block;
        margin: 5px 0;
    }

    .nav__soc-links {
        display: none;
    }

    .footer__soc-links {
        margin: 2% auto 0 auto;
        width: 100%;
    }

    .fb {
        background: url(../../img/icon-media/fb.png) center no-repeat;
        background-size: cover;
    }

    .inst {
        background: url(../../img/icon-media/inst.png) center no-repeat;
        background-size: cover;
    }

    .wp {
        background: url(../../img/icon-media/wp.png) center no-repeat;
        background-size: cover;
    }

    .vk {
        background: url(../../img/icon-media/vk.png) center no-repeat;
        background-size: cover;
    }

    .fb:hover {
        background: url(../../img/icon-media/fb.png) center no-repeat;
    }

    .inst:hover {
        background: url(../../img/icon-media/inst.png) center no-repeat;
    }

    .wp:hover {
        background: url(../../img/icon-media/wp.png) center no-repeat;
    }

    .vk:hover {
        background: url(../../img/icon-media/vk.png) center no-repeat;
    }
}