@charset "UTF-8";
html{
  font-size: 20px;
  overflow: hidden;
  scroll-behavior: smooth;
}
@media screen and (min-width: 1025px) and (max-width: 1439px){
  html {
    font-size: 14px;
  }
}
@media screen and (min-width: 1920px) and (max-width: 2499px) {
  html {
    font-size: 28px;
  }
}
@media screen and (min-width: 2500px) {
  html {
    font-size: 34px;
  }
}
body {
  margin: 0;
  font-family: Copperplate, sans-serif;
  color: #fff;
  overflow: hidden;
}
@media screen and (max-width: 1024px) {
  html {
    overflow: visible;
  }
  body {
    overflow: visible;
  }
}
@font-face {
  font-family: 'Copperplate';
  src: local('Copperplate_0'), local('Copperplate_0'),
    url('fonts/Copperplate_0.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Copperplate';
  src: local('Copperplate-Bold'), local('Copperplate-Bold'),
    url('fonts/Copperplate-Bold_0.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Copperplate';
  src: local('Copperplate-Light'), local('Copperplate-Light'),
    url('fonts/Copperplate-Light_0.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

h1 {
  font-size: 28px;
  line-height: 42px;
  margin: 0;
}

h2 {
  font-weight: 800;
  font-size: 33px;
  line-height: 46px;
  letter-spacing: 0.1em;
  margin: 0;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  line-height: 45px;
  margin: 0;
}

h4 {
  margin: 0;
}

img {
  width: 100%;
}

a {
  margin: 0;
  text-decoration: none;
}

ul {
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
}
.container{
  width: 85%;
  margin: auto;
}


.page-header {
  position: relative;
  padding-top: 17px;
}

.page-header__tel {
  position: absolute;
  right: 40px;
  top: 40px;
  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  letter-spacing: 0.05em;
}

.page-header__tel a {
  text-decoration: none;
  color: #fff;
}

.page-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: Copperplate, sans-serif;
}

.page-header__inner .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 340px;
  margin-top: 40px;
}
@media screen and (min-width: 1025px) and (max-width: 1439px) {
  .page-header__inner .logo {
    margin-top: 0;
  }
}

.page-header__inner .logo a {
  text-decoration: none;
}

.page-header__inner .logo-img {
  padding-bottom: 5px;
}

.page-header__inner .logo-img img {
  max-height: 80px;
}
@media screen and (min-width: 1920px){
  .page-header__inner .logo-img img {
    max-height: 100px;
  }
}
/* @media screen and (min-width: 1920) {
  .page-header__inner .logo-img img {
    max-height: 100px;
  }
} */

.btn-nav {
  height: 35px;
  min-width: 163px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-weight: 500;
  background-color: transparent;
  color: #fff;
}

#menu__toggle {
  opacity: 0;
}

#menu__toggle:checked ~ .menu__btn > span {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

#menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.menu__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 40px;
  left: 40px;
  width: 26px;
  height: 26px;
  color: #ffffff;
  cursor: pointer;
  z-index: 150;
}
@media screen and (min-width: 1920px) {
  .menu__btn {
    width: 40px;
  }
}

.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__btn > span::before {
  content: "";
  top: -8px;
}

.menu__btn > span::after {
  content: "";
  top: 8px;
}

.menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  width: 30%;
  height: 100%;
  margin: 0;
  padding: 9% 5% 80px 0;
  text-align: end;
  list-style: none;
  z-index: 14;
  font-size: 1rem;
  line-height: 30px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  background: linear-gradient(89.09deg, #000927 1.12%, #051954 98.55%);
  -webkit-box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
.menu__box-active {
  visibility: visible;
  left: 0;
}

.menu__item {
  display: block;
  padding: 12px 24px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  line-height: 30px;
  text-align: right;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}

.menu__item:hover {
  color: #a8b5de;
}

.main-nav__item--active > .main-nav__link {
  color: #fff;
}

.sticky .main-nav__link {
  color: #fff;
}

.logo {
  display: block;
}

.logo__link {
  white-space: nowrap;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}

.logo__caption {
  max-width: 310px;
}

.page__content {
  position: relative;
  z-index: 0;
}

.page__content-wrapp {
  position: relative;
  height: 100vh;
  /* min-width: 1400px; */
  background: url("../img/С-ФОНОМ.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  /* background-size: cover; */
  z-index: -1;
}

.page__content-wrapp .video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: autos;
  width: 100%;
}

.intro {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro__inner {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 30vh;
  padding-top: 5vh;
}

.intro__title {
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 20px;
}

.intro__title span {
  display: block;
}

.intro__subtitle {
  font-size: 1.1rem;
  line-height: 2rem;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
  padding-bottom: 40px;
  letter-spacing: 0.02em;
  font-weight: normal;
}

.btn-intro {
  width: 269px;
  height: 50px;
  border-radius: 100px;
}

.btn--red {
  height: 60px;
  border-radius: 100px;
  border: 5px solid rgba(147, 76, 72, 0.401);
  background: -webkit-gradient(linear, left top, right top, from(#fe5a35), to(#f33439));
  background: linear-gradient(90deg, #fe5a35 0%, #f33439 100%);
}

.btn--red .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn--red .btn__body .btn__text {
  width: 85%;
  font-weight: 800;
  font-size: .7rem;
  line-height: 1.2rem;
  padding: 12px 0;
  color: #fff;
}

.btn--red .btn__body .btn__icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, right top, from(#fe5a35), to(#f33439));
  background: linear-gradient(90deg, #fe5a35 0%, #f33439 100%);
}

.btn--red .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 35%;
  right: 30%;
  fill: #fff;
}

@media (min-width: 1686px) {
  .intro__title {
    max-width: 80%;
    margin: 0 auto;
  }
  .intro__subtitle {
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (min-height: 479px) and (max-height: 679px) {
  .intro__inner {
    padding-top: 3vh;
  }
}

.car {
  /* position: relative; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  background: url("../img/фон_3д_маш.jpg");
  background-position: center;
  background-size: cover;
  height: 100vh;
}
.car .container{
  position: relative;
}

.car-block {
  position: relative;
}

.car-block--active {
  display: block;
}

.car-text__card {
  height: 100%;
  width: 100%;
  text-align: center;
}

.car-text__card span {
  font-size: .7rem;
  max-width: 90%;
  color: #fff;
  opacity: 1;
}

.car-text__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25%;
  width: 100%;
  color: #fff;
  border: 1px solid #243afb;
  background-color: rgba(255, 255, 255, 0.3);
}


.car-text__header_1 {
  text-transform: uppercase;
  border-radius: 70% 0 0 0;
  -webkit-clip-path: polygon(0 25%, 100% 15%, 100% 100%, 0% 90%);
          clip-path: polygon(0 25%, 100% 15%, 100% 100%, 0% 90%);
  -webkit-transform: rotate(12deg) translate(3px, 6px);
          transform: rotate(12deg) translate(3px, 6px);
}

.car-text__header_1 span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.car-text__header_2 {
  text-transform: uppercase;
  -webkit-clip-path: polygon(3% 11%, 99% 15%, 100% 100%, 0% 100%);
          clip-path: polygon(3% 11%, 99% 15%, 100% 100%, 0% 100%);
  -webkit-transform: rotate(3deg) translate(1px, 24px);
          transform: rotate(3deg) translate(1px, 24px);
  width: 101%;
}
@media screen and (min-width: 1330px) {
  .car-text__header_2 {
    -webkit-transform: rotate(3deg) translate(1px, 25px);
    transform: rotate(3deg) translate(1px, 25px);
  }
}
.car-text__header_2 span {
  -webkit-transform: rotate(1deg);
          transform: rotate(1deg);
}

.car-text__header_3 {
  text-transform: uppercase;
  -webkit-clip-path: polygon(0 11%, 100% 11%, 100% 97%, 0% 100%);
          clip-path: polygon(0 11%, 100% 11%, 100% 97%, 0% 100%);
  -webkit-transform: rotate(0deg) translate(1px, 30px);
          transform: rotate(0deg) translate(1px, 30px);
}

.car-text__header_3 span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.car-text__header_4 {
  text-transform: uppercase;
  -webkit-clip-path: polygon(1% 19%, 98% 9%, 100% 94%, 0% 100%);
          clip-path: polygon(1% 19%, 98% 9%, 100% 94%, 0% 100%);
  -webkit-transform: rotate(-3deg) translate(0px, 22px);
          transform: rotate(-3deg) translate(0px, 22px);
}
@media screen and (min-width: 1330px) {
  .car-text__header_4 {
    -webkit-transform: rotate(-3deg) translate(1px, 23px);
    transform: rotate(-3deg) translate(1px, 23px);
  }
}

.car-text__header_4 span {
  -webkit-transform: rotate(-1deg);
          transform: rotate(-1deg);
}

.car-text__header_5 {
  text-transform: uppercase;
  border-radius: 0 70% 0 0;
  -webkit-clip-path: polygon(0 17%, 100% 21%, 100% 89%, 0% 100%);
          clip-path: polygon(0 17%, 100% 21%, 100% 89%, 0% 100%);
  -webkit-transform: rotate(-12deg) translate(-2px, 2px);
          transform: rotate(-12deg) translate(-2px, 2px);
}

.car-text__header_5 span {
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}
@media screen and (min-width: 1920px) {
  .car-text__header_1 {
    -webkit-clip-path: polygon(0 25%, 100% -4%, 100% 100%, 0% 90%);
    clip-path: polygon(0 25%, 100% -4%, 100% 100%, 0% 90%);
    -webkit-transform: rotate(12deg) translate(5px, 9px);
    transform: rotate(12deg) translate(5px, 9px);
  }

  .car-text__header_2 {
    -webkit-transform: rotate(4deg) translate(1px, 28px);
    transform: rotate(4deg) translate(1px, 28px);
  }

  .car-text__header_3 {
    -webkit-transform: rotate(0deg) translate(1px, 36px);
    transform: rotate(0deg) translate(1px, 36px);
  }

  .car-text__header_4 {
    -webkit-transform: rotate(-2deg) translate(1px, 29px);
    transform: rotate(-2deg) translate(1px, 29px);
  }
}
@media screen and (min-width: 2500px) {
  .car-text__header_1 {
    -webkit-transform: rotate(9deg) translate(5px, 9px);
    transform: rotate(9deg) translate(5px, 9px);
  }

  .car-text__header_2 {
    -webkit-transform: rotate(3deg) translate(1px, 25px);
    transform: rotate(3deg) translate(1px, 25px);
    height: 32%;
  }

  .car-text__header_3 {
    -webkit-transform: rotate(0deg) translate(1px, 36px);
    transform: rotate(0deg) translate(1px, 35px);
    height: 30%;
  }

  .car-text__header_4 {
    -webkit-transform: rotate(-2deg) translate(1px, 26px);
    transform: rotate(-2deg) translate(1px, 26px);
    height: 32%;
  }
  .car-text__header_5 {
    -webkit-transform: rotate(-9deg) translate(-3px, -2px);
    transform: rotate(-9deg) translate(-3px, -2px);
    height: 30%;
  }
}

.car-text__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 75%;
  width: 100%;
  border: 1px solid #243afb;
  background-color: rgba(255, 255, 255, 0.3);
}
.car-text__content_1 {
  -webkit-clip-path: polygon(0 0, 100% 19%, 100% 99%, 0% 79%);
          clip-path: polygon(0 0, 100% 19%, 100% 99%, 0% 79%);
  -webkit-transform: translate(0px, -11px);
          transform: translate(0px, -11px);
}

.car-text__content_1 span {
  -webkit-transform: rotate(9deg) translate(0px, 0px);
          transform: rotate(9deg) translate(0px, 0px);
}

.car-text__content_2 {
  -webkit-clip-path: polygon(0 14%, 100% 21%, 100% 100%, 0% 95%);
          clip-path: polygon(0 14%, 100% 21%, 100% 100%, 0% 95%);
  -webkit-transform: translate(0px, -4px);
          transform: translate(0px, -4px);
}

.car-text__content_2 span {
  -webkit-transform: rotate(3deg) translate(0px, 11px);
          transform: rotate(3deg) translate(0px, 11px);
}

.car-text__content_3 {
  -webkit-clip-path: polygon(0 17%, 100% 17%, 100% 97%, 0% 97%);
          clip-path: polygon(0 17%, 100% 17%, 100% 97%, 0% 97%);
  -webkit-transform: translate(1px, 2px);
          transform: translate(1px, 2px);
}

.car-text__content_3 span {
  -webkit-transform: rotate(0deg) translate(0px, 11px);
          transform: rotate(0deg) translate(0px, 11px);
}

.car-text__content_4 {
  -webkit-clip-path: polygon(0 20%, 100% 10%, 100% 90%, 0% 100%);
          clip-path: polygon(0 20%, 100% 10%, 100% 90%, 0% 100%);
  -webkit-transform: translate(2px, -3px);
          transform: translate(2px, -3px);
}

.car-text__content_4 span {
  -webkit-transform: rotate(-3deg) translate(0px, 8px);
          transform: rotate(-3deg) translate(0px, 8px);
}

.car-text__content_5 {
  -webkit-clip-path: polygon(0 22%, 100% -1%, 116% 74%, 0% 100%);
          clip-path: polygon(0 22%, 100% -1%, 116% 74%, 0% 100%);
  -webkit-transform: translate(2px, -18px);
          transform: translate(2px, -18px);
}

.car-text__content_5 span {
  -webkit-transform: rotate(-9deg) translate(0px, 0px);
          transform: rotate(-9deg) translate(0px, 0px);
}

@media screen and (min-width: 1920px) {
  .car-text__content {
    height: 120%;
  }

  .car-text__content_1 {
    -webkit-transform: translate(0px, -16px);
    transform: translate(0px, -16px);
  }

  .car-text__content_2 {
    -webkit-transform: translate(0px, -6px);
    transform: translate(0px, -6px);
  }

  .car-text__content_4 {
    -webkit-transform: translate(2px, -5px);
    transform: translate(2px, -5px);
  }

  .car-text__content_5 {
    -webkit-transform: translate(2px, -27px);
    transform: translate(2px, -27px);
  }
}
@media screen and (min-width: 2500px) {
  .car-text__content_1 {
    -webkit-transform: translate(0px, -16px);
    transform: translate(0px, -16px);
  }

  .car-text__content_2 {
    -webkit-transform: translate(0px, -6px);
    transform: translate(0px, -18px);
  }
  .car-text__content_3 {
    -webkit-transform: translate(1px, -6px);
    transform: translate(1px, -6px);
  }
  .car-text__content_4 {
    -webkit-transform: translate(2px, -15px);
    transform: translate(2px, -15px);
  }

  .car-text__content_5 {
    -webkit-transform: translate(2px, -27px);
    transform: translate(2px, -33px);
  }
}

.car-text {
  display: none;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 40px;
  left: 0;
  width: 96%;
  padding-left: 5%;
}

.car-text__border {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 266px;
  height: 120px;
  background: url("../img/car_border.svg");
  background-position: center;
  background-size: cover;
}

.car-text__border--text {
  position: absolute;
  top: 0;
  left: 0%;
  width: 100%;
  height: 100%;
  font-size: 1.1rem;
  line-height: 1.5rem;
  text-align: center;
  padding: 25px 0;
}

.car-text__title {
  max-width: 300px;
  font-size: 2rem;
}

.car-text__inner {
  max-width: 300px;
}

.car-text__inner::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
}
@media screen and (min-width: 1920px) {
  .car-text {
    top: 0;
  }

  .car-text__inner {
    max-width: 30%;
  }

  .car-text__border {
    width: 400px;
    height: 230px;
  }

  .car-text__border--text {
    top: 25px;
  }
}

.car-text__subtitle {
  font-size: 1rem;
  padding-top: 20px;
}

.car-fon__bottom {
  position: relative;
  width: 85%;
  margin: 0 auto;
}

.car-fon__car {
  position: absolute;
  top: 0;
  bottom: 150px;
  left: 0;
  right: 0;
}

.car-3d {
  position: relative;
  width: 80%;
  height: 80%;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.car-3d__front {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 103px;
  height: 190px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 1440px){
  .car-3d__front{
    bottom: 122px;
  }
}
@media screen and (min-width: 1920px) {
  .car-3d__front {
    bottom: 212px;
  }
}
@media screen and (min-width: 2500px) {
  .car-3d__front {
    bottom: 318px;
  }
}


.car__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.car__card--front {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 63%;
  padding: 0;
}

.car-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 20%;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  opacity: 0.5;
}

.car-paket {
  position: absolute;
  left: 0%;
  top: 0%;
  bottom: 0;
  right: 0;
  opacity: 0.5;
}

.car-fon--car_1 {
  display: none;
}

.car-fon--car_2 {
  display: none;
}

.car-fon--car_3 {
  display: none;
}

.car-fon--car_4 {
  display: none;
}

.car-fon--car_5 {
  display: none;
}

.car-fon--active {
  display: block;
}

.car-text__content--active {
  /* background-color: red; */
  background: #0000D3;
  opacity: 1;
}

.about {
  /* position: relative; */
  background: url("../img/фон_о_себе.jpg");
  background-size: cover;
  /* padding: 120px 0 135px 0; */
  height: 100vh;
  display: flex;
}

.about-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-header {
  padding-bottom: 55px;
}

.about-header__title {
  padding-bottom: 20px;
  font-size: 2rem;
  line-height: 2.5rem;
  letter-spacing: 0.05em;
}

.about-header__subtitle {
  width: 95%;
  
  letter-spacing: 0.02em;
}

.about-header__subtitle p {
  padding-top: 20px;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1.5rem;
}

.about-header__wrapp {
  position: relative;
  padding-left: 5%;
}

.about-header__wrapp::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
}

.about-text {
  -ms-flex-preferred-size: 60%;
      flex-basis: 55%;
}

.about-text__inner {
  font-weight: bold;
  font-size: .8rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  /* text-transform: uppercase; */
}

.about-text__inner p {
  padding-bottom: 20px;
}

.about-img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
}

.about-img__inner {
  position: relative;
  padding-left: 5%;
}

.contact {
  position: relative;
  background-image: linear-gradient(89.12deg, #000927 1.12%, #051954 98.55%);
}

.contact-title {
  padding-bottom: 61px;
}

.contact-title__text {
  position: relative;
  letter-spacing: 0.2em;
}

.contact-title__text::after {
  content: "";
  position: absolute;
  left: 0%;
  bottom: -10px;
  width: 50px;
  height: 1px;
  background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
}

.contact-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
}

.contact-adress {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.2rem;
  padding-bottom: 20px;
}

.contact-adress a {
  color: #fff;
}

.contact-email {
  font-size: 1rem;
  line-height: 1.3rem;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.contact-email a {
  color: #fff;
}

.contact-tel {
  font-size: 1rem;
  line-height: 1.3rem;
  padding-bottom: 20px;
}
.tel{
  font-size: 1rem;
}

.contact-tel a {
  color: #fff;
  font-size: initial;
}

.contact_work {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.5rem;
  padding-top: 70px;
}

.contact-text {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.contact-map {
  position: absolute;
  left: 30%;
  top: 0;
  bottom: 0;
  right: -30%;
  margin-right: -30%;
}

.contact-map__inner {
  height: 100%;
}

.gallery {
  background: url("../img/фон_галерия.jpg");
  background-size: cover;
  /* padding: 120px 0 115px 0; */
  height: 100vh;
  display: flex;
}
.gallery .container{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery-title {
  position: relative;
  padding-left: 5%;
  
}
.gallery-title__text{
  font-size: 2rem;
}

.gallery-title::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
}
/* .gallery-shadow{
  -webkit-box-shadow: inset 0px -71px 10px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: inset 0px -71px 10px -12px rgba(0, 0, 0, 0.75);
  box-shadow: inset 0px -71px 10px -12px rgba(0, 0, 0, 0.75);
} */

.gallery__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  padding-left: 0;
  
  
}

.gallery__inner .gallery__item {
  width: 32%;
}

.gallery__inner .gallery__item-img {
  padding-bottom: 5%;
}

.gallery__inner .gallery__item-img img{
  width: 95%;
}

.gallery__inner-wrapp {
  /* max-height: 550px; */
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  overflow: hidden;
  overflow: auto;
  margin-top: 50px;
  height: 80%;
  
  
}

.gallery__inner-wrapp::-webkit-scrollbar-button {
  width: 6px;
  height: 0px;
}

.gallery__inner-wrapp::-webkit-scrollbar-track {
  background-color: #e5e5e5;
}

.gallery__inner-wrapp::-webkit-scrollbar-thumb {
  background-color: #006e8b;
  background-position: center;
  background-repeat: no-repeat;
}

.gallery__inner-wrapp::-webkit-resizer {
  background-image: url("");
  background-repeat: no-repeat;
  width: 7px;
  height: 0px;
}

.gallery__inner-wrapp::-webkit-scrollbar {
  width: 11px;
}

.gallery-top {
  height: 80% !important;
}

.approach__item--slide .approach__item--img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.approach__gallery--thumbs {
  margin-top: 15px;
}

.guarantee {
  /* position: relative; */
  background: url("../img/фон_гарантия.jpg");
  background-size: cover;
  /* padding: 120px 0 120px 0; */
  height: 100vh;
  display: flex;
}
.guarantee .container{
  height: 85%;
}

.guarantee-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.guarantee-header {
  padding-bottom: 30px;
}
.guarantee-header__title {
  font-size: 2rem;
  line-height: 2.5rem;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.guarantee-header__subtitle {
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.05em;
}

.guarantee-header__subtitle--big {
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: 0.05em;
  font-weight: bold;
}

.guarantee-header__wrapp {
  position: relative;
  padding-left: 5%;
}

.guarantee-header__wrapp::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
}

.guarantee__title {
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  padding-bottom: 20px;
  letter-spacing: 0.02em;
}

.guarantee-text {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
}

.guarantee-text__border {
  background: url("../img/border-low.svg");
  background-position: center;
  background-size: cover;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  padding: 20px 10px;
  text-align: center;
  height: 20%;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1440px) {
  .guarantee-text__border {
    width: 90%;
  }
}
@media screen and (min-width: 1920px) {
  .guarantee-text__border {
    width: 93%;
    height: 29%;
  }
}

.guarantee-text__border .border__arrows{
  position: relative;
  width: 80%;
  height: 70%;
}

.guarantee-text p {
  padding-top: 30px;
  padding-bottom: 40px;
}

.guarantee-text span {
  font-size: .9rem;
  letter-spacing: 0.02em;
  line-height: 1.2rem;
  width: 90%;
  display: block;
}

.guarantee-img {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  position: relative;
}

.guarantee-img::before {
  position: absolute;
  content: "";
  right: 0;
  left: 0%;
  top: 10%;
  bottom: 0;
  opacity: 1;
  max-height: 70%;
  width: 52%;
  background: url("../img/сертификат1.png");
  background-repeat: no-repeat;
  background-position: bottom, left;
  background-size: contain;
}

.guarantee-img__inner {
  position: relative;
  padding-left: 30%;
}


.guarantee--img {
  /* height: 430px; */
}
.guarantee-img__inner img {
  width: 80%;
}
@media screen and (min-width: 1920px) {
  .guarantee-img__inner img {
    width: 90%;
  }
  .guarantee-img::before {
    max-height: 80%;
  }
}

.insurance {
  /* position: relative; */
  background: url("../img/фон_полис.jpg");
  background-size: cover;
  /* padding: 120px 0 80px 0; */
  height: 100vh;
  display: flex;
}
.insurance .container{
  height: 85%;
}
@media screen and (min-width: 1920px){
  .insurance .container {
    height: 75%;
  }
}
.insurance-wrapp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-evenly;
}

.insurance__titlt {
  font-weight: bold;
  font-size: 1.1rem;
  line-height: 1.5rem;
  height: 10%;
}

.insurance-header {
  padding-bottom: 60px;
}

.insurance-header__title {
  padding-bottom: 20px;
  font-size: 2rem;
}

.insurance-header__subtitle {
  font-size: 1.1rem;
  line-height: 1.5rem;
  letter-spacing: 0.04em;
}

.insurance-header__wrapp {
  position: relative;
  padding-left: 5%;
}

.insurance-header__wrapp::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
}

.insurance-text {
  -ms-flex-preferred-size: 50%;
      flex-basis: 40%;
}

.insurance-text__border {
  background: url("../img/border-hight.svg") center no-repeat;
  background-position: center;
  background-size: contain;
  /* width: 65%; */
  /* padding: 65px 60px; */
  text-align: left;
  font-size: .9rem;
  line-height: 1.4rem;
  text-transform: uppercase;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.insurance-text__border div{
  width: 80%;
}

.insurance-img {
  -ms-flex-preferred-size: 50%;
      flex-basis: 40%;
  position: relative;
}

.insurance-img::before {
  position: absolute;
  content: "";
  right: 0;
  top: 10%;
  bottom: 0;
  opacity: 1;
  width: 52%;
  max-height: 75%;
  background: url("../img/стр полис1.png");
  background-repeat: no-repeat;
  background-position: bottom, right;
  background-size: contain;
}

.insurance-img__inner {
  position: relative;
  padding-right: 30%;
}
.insurance-img__inner img{
  width: 90%;
}
@media screen and (min-width: 1440px){
  .insurance-img__inner img{
    width: 100%;
  }
}

.approach {
  /* position: relative; */
  background: url("../img/фон_подход.png");
  background-size: cover;
  /* padding: 5vh 0 4vh 0; */
  height: 100vh;
  display: flex;
  align-items: center;
}
.approach .container{
  height: 90%;
}

.approach-inner {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  align-items: center;
}

.approach-slider {
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
  width: 55%;
  height: 85%;
}

.approach-gallery {
  width: 55%;
  -ms-flex-preferred-size: 55%;
      flex-basis: 55%;
}

.approach-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 45%;
      flex-basis: 45%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.approach-text__inner {
  max-width: 95%;
  font-weight: normal;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: 0.1em;
}

.approach-text__subtitle {
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 2rem;
  padding-top: 20px;
  padding-bottom: 60px;
}

.approach-text__title {
  position: relative;
  width: 90%;
  padding-left: 10%;
  text-transform: uppercase;
  font-size: 2rem;
}

.approach-text__title::after {
  content: "";
  position: absolute;
  left: 0%;
  top: 0;
  bottom: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(90.47deg, #0545c1 5.05%, #b9d1ff 120.19%);
  -webkit-box-shadow: 0px 0px 16px #0f26f5;
          box-shadow: 0px 0px 16px #0f26f5;
}

.approach-text__title-wrapp {
  position: relative;
  padding-right: 15%;
  padding-bottom: 50px;
}

.approach-text__title img {
  width: 100%;
  height: auto;
}

.approach-text__title--text {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: left;
}

.approach__gallery {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}

.approach__item-img {
  max-width: 50vw;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 90px;
  background-color: #000000;
  z-index: 10;
}

.footer-inner {
  padding-left: 20px;
}

.footer-link__studio {
  color: #fff;
  font-weight: lighter;
  font-size: 1rem;
  line-height: 1.5rem;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  z-index: 999;
}

.modal--active {
  display: block;
}

.modal-inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
  background: rgba(0, 6, 22, 0.8);
}

.modal-wrapp {
  position: relative;
  display: block;
  max-height: 360px;
  max-width: 680px;
  z-index: 5;
  border-radius: 80px;
  padding: 70px 100px 80px 120px;
  background-image: url("../img/фон-модалка.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-tel {
  padding-bottom: 60px;
}

.modal-tel__title {
  padding-bottom: 15px;
}

.modal-input {
  width: 326px;
  height: 50px;
  padding-left: 30px;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 8px;
}

.modal-hidden {
  position: absolute;
  right: 40px;
  top: 30px;
}

.border {
  position: relative;
  background-color: transparent;
  position: relative;
}

.border__arrows {
  border: solid transparent;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.swiper-container {
  width: 100%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}
.swiper-slide img{
  object-fit: contain;
}

.approach__gallery--top {
  height: 80%;
  width: 100%;
}

.approach__gallery--thumbs {
  height: 20%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 0;
}

.approach__gallery--thumbs .swiper-slide {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.approach__gallery--thumbs .swiper-slide-thumb-active {
  opacity: 1;
}

#map {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.btn-main {
  width: 310px;
  height: 55px;
  border-radius: 100px;
  background: url("../img/btn.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid transparent;
}
@media screen and (min-width: 1920px) {
  .guarantee .btn-main {
    width: 400px;
    height: 65px;
  }
}

@media screen and (min-width: 1920px){
  .intro-button .btn-main{
    width: 420px;
    height: 70px;
  }
}
@media screen and (min-width: 2400px) {
  .intro-button .btn-main {
    width: 500px;
    height: 130px;
  }
}

.btn-sm {
  width: 235px;
  background: url("../img/btn-small.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border: 2px solid transparent;
}
.car .btn-sm{
  height: 50px;
}
@media screen and (min-width: 1440px) {
  .car .btn-sm {
    height: 100px;
    width: 370px;
  }
}

.btn {
  color: #fff;
  background-color: transparent;
  border-radius: 100px;
}

.btn .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn .btn__body .btn__text {
  width: 85%;
  font-weight: 800;
  font-size: .7rem;
  line-height: 1.2rem;
  padding: 10px 0;
  color: #fff;
}

.btn .btn__body .btn__icon {
  display: block;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: calc(35% - 4px);
  right: 15%;
  fill: #fff;
}

.btn--non-arrows {
  color: #fff;
  background-color: transparent;
  border-radius: 100px;
}

.btn--non-arrows .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn--non-arrows .btn__body .btn__text {
  width: 100%;
  font-weight: 800;
  font-size: .7rem;
  line-height: 1.2rem;
  padding: 10px 0;
  letter-spacing: 0.2em;
  color: #fff;
}

@media screen and (min-width: 2400px) {
  .guarantee .btn-main {
    width: 500px;
    height: 122px;
  }

  .guarantee .btn-main .btn__text {
    padding: 30px 0;
  }
}

.btn--non-arrows .btn__body .btn__icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn--non-arrows .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 35%;
  right: 30%;
  fill: #fff;
}

.btn-car {
  position: absolute;
  bottom: 5%;
  left: calc(50% - 120px);
  color: #fff;
  background-color: transparent;
  border-radius: 100px;
}
@media screen and (min-width: 1440px){
  .btn-car {
    bottom: 10%;
  }
}
@media screen and (min-width: 1920px) {
  .btn-car {
    bottom: 15%;
    left: calc(50% - 180px);
  }
}

.btn-car .btn__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 100px;
}

.btn-car .btn__body .btn__text {
  width: 100%;
  font-weight: 800;
  font-size: .7rem;
  line-height: 1.2rem;
  padding: 10px 0;
  letter-spacing: 0.2em;
  color: #fff;
}

.btn-car .btn__body .btn__icon {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.btn-car .btn__body .btn__icon-arrovs {
  position: absolute;
  height: 12px;
  width: 12px;
  top: 35%;
  right: 30%;
  fill: #fff;
}

.scrolling {
  position: absolute;
  top: 0;
  top: 47%;
  left: 40px;
  z-index: 1;
}

/* /!\ You need to add vendor prefixes in order to render the CSS properly (or simply use http://leaverou.github.io/prefixfree/) /!\ */
#tridiv {
  -webkit-perspective: 800px;
          perspective: 800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 100%;
}

.face {
  -webkit-box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
          box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.4);
}

.scene,
.shape,
.face,
.face-wrapper,
.cr {
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}

.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
}

.face,
.face-wrapper {
  overflow: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}

.face {
  background-size: 100% 100% !important;
  background-position: center;
}

.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%;
}

.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.side {
  left: 50%;
}

.cr,
.cr .side {
  height: 100%;
}

[class*="cylinder"] .tp {
  -webkit-transform: rotateX(90deg) translateY(-50%);
          transform: rotateX(90deg) translateY(-50%);
}

[class*="cylinder"] .bm {
  -webkit-transform: rotateX(-90deg) translateY(-50%);
          transform: rotateX(-90deg) translateY(-50%);
}

[class*="cylinder"] .tp,
[class*="cylinder"] .bm,
[class*="cylinder"] .tp .photon-shader,
[class*="cylinder"] .bm .photon-shader {
  border-radius: 50%;
}

[class*="cylinder"] .bm {
  top: 100%;
}

/* .cyl-1 styles */
.cyl-1 {
  -webkit-transform: translate3D(23.0625em, -6.0625em, 23.0625em) rotateX(180deg) rotateY(2.8deg) rotateZ(0deg);
          transform: translate3D(23.0625em, -6.0625em, 23.0625em) rotateX(180deg) rotateY(2.8deg) rotateZ(0deg);
  opacity: 1;
  width: 15.625em;
  height: 1.625em;
  margin: -0.8125em 0 0 -7.8125em;
}

.cyl-1 .tp,
.cyl-1 .bm {
  width: 15.625em;
  height: 15.625em;
}

.cyl-1 .side {
  width: 2.4997568800708794em;
  height: 1.625em;
}

.cyl-1 .s0 {
  -webkit-transform: rotateY(9deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(9deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s1 {
  -webkit-transform: rotateY(27deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(27deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s2 {
  -webkit-transform: rotateY(45deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(45deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s3 {
  -webkit-transform: rotateY(63deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(63deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s4 {
  -webkit-transform: rotateY(81deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(81deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s5 {
  -webkit-transform: rotateY(99deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(99deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s6 {
  -webkit-transform: rotateY(117deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(117deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s7 {
  -webkit-transform: rotateY(135deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(135deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s8 {
  -webkit-transform: rotateY(153deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(153deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s9 {
  -webkit-transform: rotateY(171deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(171deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s10 {
  -webkit-transform: rotateY(189deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(189deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s11 {
  -webkit-transform: rotateY(207deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(207deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s12 {
  -webkit-transform: rotateY(225deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(225deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s13 {
  -webkit-transform: rotateY(243deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(243deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s14 {
  -webkit-transform: rotateY(261deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(261deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s15 {
  -webkit-transform: rotateY(279deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(279deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s16 {
  -webkit-transform: rotateY(297deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(297deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s17 {
  -webkit-transform: rotateY(315deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(315deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s18 {
  -webkit-transform: rotateY(333deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(333deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .s19 {
  -webkit-transform: rotateY(351deg) translate3D(-50%, 0, 7.7875em);
          transform: rotateY(351deg) translate3D(-50%, 0, 7.7875em);
}

.cyl-1 .face,
.cyl-1 .side {
  background-color: #ffffff;
}
/*# sourceMappingURL=style.css.map */

@media screen and (max-width: 1200px) {
  .page__content-wrapp {
    min-width: 1920px;
    height: 1280px;
  }
  .approach{
    min-width: 1920px;
    height: 1280px;
  }
  .car {
    min-width: 1920px;
    height: 1280px;
  }
  .guarantee {
    min-width: 1920px;
    height: 1280px;
  }
  .insurance {
    min-width: 1920px;
    height: 1280px;
  }
  .gallery {
    min-width: 1920px;
    height: 1280px;
  }
  .about {
    min-width: 1920px;
    height: 1280px;
  }
  .contact-inner {
    min-width: 1920px;
    height: 1280px;
  }
}

.mCS-my-theme.mCSB_scrollTools {
  width: 20px;
  height: 100%;
  display: flex !important;
  justify-content: center !important;
  
}
/* .mCSB_draggerContainer{
  width: 20px !important;
  height: 100% !important;
  background: green !important;
} */
.mCS-my-theme.mCSB_scrollTools.mCSB_draggerRail {
  height: 100px;
  background: pink;
}
.mCSB_draggerContainer {
  height: 100% !important;
  width: 2px;
  left: 8px !important;
  background: -o-linear-gradient(2.77deg, #0545C1 -66.43%, #B9D1FF 48.75%);
  background: linear-gradient(87.23deg, #0545C1 -66.43%, #B9D1FF 48.75%);
  -webkit-box-shadow: 0px 0px 16px #0F26F5;
  box-shadow: 0px 0px 16px #0F26F5;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: -o-linear-gradient(357.31deg, #0545C1 0%, #B9D1FF 100%);
  background: linear-gradient(92.69deg, #0545C1 0%, #B9D1FF 100%);
  -webkit-box-shadow: 0px 0px 16px #0F26F5;
  box-shadow: 0px 0px 16px #0F26F5;
  width: 20px;
  height: 20px;
}
.mCS-my-theme.mCSB_scrollTools .mCSB_dragger{
  height: 20px !important;
  background: transparent !important;
  transform: translateX(-8px);
}

@media screen and (max-width: 1024px){
  main {
    overflow: hidden;
    width: 1920px;
  }
}

.nav {
  position: relative;
  display: inline-block;
  cursor: pointer;
  position: fixed;
  left: 3%;
  top: 5%;
  z-index: 15;
}

.bar1,
.bar2,
.bar3 {
  width: 30px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-5px, 0px);
  transform: rotate(-45deg) translate(-0px, 0px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-10px, -12px);
  transform: rotate(45deg) translate(-10px, -12px);
}