/* FOOTER LAYOUT */
.footer{
    display: block;
    position: relative;   
    background: #3B181E;
}
.footer__border{
    width: 95%;
    border: 1px solid rgba(255, 255, 255, 0.2);
    display: block;
    position: relative;
    margin: auto;
}

/* FOOTER NAV */
.footer> nav{
    margin-top: 10px;
}
.footer> nav ul{
    display: flex;
    justify-content: space-evenly;
}
.footer> nav a{
    font-size: 15px;
    color: rgba(255, 255, 255, 0.5);
    text-transform: none;
}
.footer> nav a:hover{
    font-size: 15px;
    color: #fff;
    text-transform: none;
}