.swiper-container {
  width: 600 px;
  height: 300 px;
}
.swiper-slide{
  display: flex;
  justify-content: space-evenly;
  width: 600px;
  height: 600px;
}
.swiper_pagination{
  width: 10px;
  height: 5px;
  background: #000;
  position: absolute;
  text-align: center;
  /* transition: 300ms opacity; */
  /* transform: translate3d(0, 0, 0); */
  z-index: 10;
}
.swiper-pagination-bullet{
  width: 18px;
  height: 8px;
  display: inline-block;
  border-radius: 0;
  background: #000;
  opacity: 0.2;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #fff;
}
