/* IMG */
.image{
    width: 50%;
    height: 100%;
    background: url(../img/wedding/image1.jpg) center no-repeat;
    background-size: cover;
}

/* TABS */
.tab-1{
    background: url(../img/wedding/image2.jpg) center no-repeat;
}
.tab-2{
    background: url(../img/wedding/image3.jpg) center no-repeat;
}
.tab-3{
    background: url(../img/wedding/image4.jpg) center no-repeat;
}
.tab-4{
    background: url(../img/wedding/image5.jpg) center no-repeat;
}